* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

header {
  background-color: antiquewhite;
  width: 100vw;
  height: 10vh;
  border-bottom: 0;
}

.navbar {
  position: absolute;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.nom {
  font-size: 2em;
}

.navbar .lien ul {
  display: flex;
}

.navbar .lien ul li {
  display: flex;
  margin: 0 10px;
}

.conditionPartage {
  color: blue;
  text-decoration: underline;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.photoAcceuil {
  display: flex;
  justify-content: center;
}

.backImg {
  margin-top: 50px;
  width: 50%;
  height: 50%;
  margin-bottom: 50px;
}

#photoCouture {
  width: 45.25%;
}

#photoTissu {
  display: inline-block;
  width: 51%;
}

#par1 {
  width: 45%;
  margin: 20px;
}

#par2 {
  width: 45%;
  margin: 20px;
}

#parContainer {
  display: flex;
}
